<!-- About Section -->
    <section class="success" id="about" style="background-color: darkgrey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>This is an computer scientist internship project in the detector group in order to make available to the public a standalone tool and a webpage using Francesco Piscitelli's analytical tools for the calculation of neutron detector efficiency.</p>
                </div>
                <div class="col-lg-4">
                    <p >Take a look at the <a href="https://github.com/DetectorEfficiencyCalculator/dg_efficiencyCalculator"> Github repository</a> if you are interested</p>
                </div>
            </div>
        </div>
    </section>