    <section id="description">
        <div class="container">
            <div class="row">
             <p class="skills">  This is the {{ site.software_name }}, a series of python scripts and a graphical user interface designed to calculate, visualize, optimize and compare the efficiency of B10 based neutron detectors.</p>
            </div>
                <div class="row">
                        <a>
                            <img src="{{ site.url }}img/detector_configurator.png" class="img-responsive img-description" alt="">
                        </a>
            </div>
        </div>
    </section>
